In [1]:
from pyspark.sql import SparkSession
import numpy as np # linear algebra
import pandas as pd # data processing , reading the csv file (pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
import os

In [2]:
%matplotlib inline
warnings.filterwarnings("ignore")

spark = SparkSession.builder \
          .master("local[*]") \
          .appName("Credit Card Analysis") \
          .getOrCreate()

spark.sparkContext.setLogLevel("ERROR")

22/12/25 18:06:59 WARN Utils: Your hostname, Abhisheks-MacBook-Air.local resolves to a loopback address: 127.0.0.1; using 192.168.1.5 instead (on interface en0)
22/12/25 18:06:59 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/Users/abhi011097/opt/anaconda3/lib/python3.9/site-packages/pyspark/jars/spark-unsafe_2.12-3.2.1.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/12/25 18:07:00 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
spark

In [4]:
trxns = spark\
        .read\
        .option("header", "true")\
        .csv("/Users/abhi011097/Dataset_Analysis/1_Credit_Card_Analysis/Dataset/Credit_card_transactions.csv")

trxns.registerTempTable("transactions")

#### Describe Dataframe

In [5]:
trxns.describe().show()

+-------+-----------------+----------------+--------+---------+--------+------+------------------+
|summary|            index|            City|    Date|Card Type|Exp Type|Gender|            Amount|
+-------+-----------------+----------------+--------+---------+--------+------+------------------+
|  count|            26052|           26052|   26052|    26052|   26052| 26052|             26052|
|   mean|          13025.5|            null|    null|     null|    null|  null| 156411.5374251497|
| stddev|7520.708942646298|            null|    null|     null|    null|  null|103063.25428673124|
|    min|                0| Achalpur, India|1-Apr-14|     Gold|   Bills|     F|            100013|
|    max|             9999|Zunheboto, India|9-Sep-14|   Silver|  Travel|     M|              9999|
+-------+-----------------+----------------+--------+---------+--------+------+------------------+

#### See first 2 rows

In [6]:
trxns.show(2)

+-----+--------------------+---------+---------+--------+------+------+
|index|                City|     Date|Card Type|Exp Type|Gender|Amount|
+-----+--------------------+---------+---------+--------+------+------+
|    0|        Delhi, India|29-Oct-14|     Gold|   Bills|     F| 82475|
|    1|Greater Mumbai, I...|22-Aug-14| Platinum|   Bills|     F| 32555|
+-----+--------------------+---------+---------+--------+------+------+
only showing top 2 rows

In [7]:
spark.sql("Select * from transactions limit 2").show()

+-----+--------------------+---------+---------+--------+------+------+
|index|                City|     Date|Card Type|Exp Type|Gender|Amount|
+-----+--------------------+---------+---------+--------+------+------+
|    0|        Delhi, India|29-Oct-14|     Gold|   Bills|     F| 82475|
|    1|Greater Mumbai, I...|22-Aug-14| Platinum|   Bills|     F| 32555|
+-----+--------------------+---------+---------+--------+------+------+

#### Find total no of records

#### Stop Spark

In [8]:
spark.stop()